@use 'scss/config' as *;

.block {
  @include size(100%, rem(56px));

  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.label {
  @include make-spacer(px, 4px);
  @include transition;

  position: absolute;
  top: rem(16px);
  left: rem(16px);
  transform: translateY(rem(-23px));
  background-color: var(--color-white);
  color: rgba(0, 0, 0, 0.8);
  font-size: rem(12px);
  pointer-events: none;
}

